{
    "colors": {
        "black": [0, "{{baseBG_hex}}"],
        "bright_black": [238, "{{baseBg_hex}}"],
        "grey": [8, "{{baseBf_hex}}"],
        "silver": [7, "{{baseBF_hex}}"],
        "dark_white": [253, "{{baseFg_hex}}"],
        "white": [15, "{{baseFG_hex}}"],
        "marron": [1, "{{baseB1_hex}}"],
        "olive": [3, "{{baseB2_hex}}"],
        "green": [2, "{{baseB3_hex}}"],
        "navy": [4, "{{baseB4_hex}}"],
        "purple": [5, "{{baseB5_hex}}"],
        "red": [9, "{{baseF1_hex}}"],
        "orange": [214, "{{baseF2_hex}}"],
        "yellow": [11, "{{baseF3_hex}}"],
        "lime": [10, "{{baseF4_hex}}"],
        "aqua": [14, "{{baseF5_hex}}"],
        "blue": [12, "{{baseF6_hex}}"],
        "fuchsia": [13, "{{baseF7_hex}}"]
    }
}

