<?xml version="1.0" encoding="UTF-8"?>
<!--
    Frontemare {{scheme_name}}
    Template: tetutaro, Scheme: {{scheme_author}}
    semanticClass: {{scheme_slug}}
-->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ansi 0 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseBG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseBG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseBG_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 1 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF1_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF1_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF1_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 2 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF4_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF4_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF4_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 3 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF3_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF3_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF3_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 4 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF6_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF6_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF6_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 5 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF7_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF7_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF7_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 6 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF5_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF5_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF5_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 7 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseFG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseFG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseFG_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 8 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseBG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseBG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseBG_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 9 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF1_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF1_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF1_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 10 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF4_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF4_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF4_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 11 Color</key>
    <dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF3_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF3_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF3_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 12 Color</key>
    <dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF6_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF6_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF6_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 13 Color</key>
    <dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF7_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF7_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF7_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 14 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF5_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF5_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF5_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Ansi 15 Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseFG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseFG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseFG_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Foreground Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseFG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseFG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseFG_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Background Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseBG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseBG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseBg_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Bold Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseFG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseFG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseFG_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Link Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF6_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF6_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF6_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Selection Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseB4_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseB4_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseB4_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Selected Text Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseFG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseFG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseFG_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Badge Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseF1_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseF1_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseF1_dec_b}}</real>
        <key>Alpha Component</key>
        <real>0.5</real>
	</dict>
	<key>Cursor Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Red Component</key>
		<real>{{baseFG_dec_r}}</real>
		<key>Green Component</key>
		<real>{{baseFG_dec_g}}</real>
		<key>Blue Component</key>
		<real>{{baseFG_dec_b}}</real>
        <key>Alpha Component</key>
        <real>1</real>
	</dict>
	<key>Cursor Text Color</key>
	<dict>
		<key>Color Space</key>
		<string>sRGB</string>
		<key>Blue Component</key>
		<real>{{baseBG_dec_b}}</real>
		<key>Green Component</key>
		<real>{{baseBG_dec_g}}</real>
		<key>Red Component</key>
		<real>{{baseBG_dec_r}}</real>
	</dict>
</dict>
</plist>

