# {{scheme_slug}}

|  NAME  |   HEX   |  R  |  G  |  B  |  H  |  S  |  V  |
|:------:|:-------:|----:|----:|----:|----:|----:|----:|
| baseBG | #{{baseBG_hex}} | {{baseBG_rgb_r_pad}} | {{baseBG_rgb_g_pad}} | {{baseBG_rgb_b_pad}} | {{baseBG_hsv_h_pad}} | {{baseBG_hsv_s_pad}} | {{baseBG_hsv_v_pad}} |
| baseBg | #{{baseBg_hex}} | {{baseBg_rgb_r_pad}} | {{baseBg_rgb_g_pad}} | {{baseBg_rgb_b_pad}} | {{baseBg_hsv_h_pad}} | {{baseBg_hsv_s_pad}} | {{baseBg_hsv_v_pad}} |
| baseBf | #{{baseBf_hex}} | {{baseBf_rgb_r_pad}} | {{baseBf_rgb_g_pad}} | {{baseBf_rgb_b_pad}} | {{baseBf_hsv_h_pad}} | {{baseBf_hsv_s_pad}} | {{baseBf_hsv_v_pad}} |
| baseBF | #{{baseBF_hex}} | {{baseBF_rgb_r_pad}} | {{baseBF_rgb_g_pad}} | {{baseBF_rgb_b_pad}} | {{baseBF_hsv_h_pad}} | {{baseBF_hsv_s_pad}} | {{baseBF_hsv_v_pad}} |
| baseFg | #{{baseFg_hex}} | {{baseFg_rgb_r_pad}} | {{baseFg_rgb_g_pad}} | {{baseFg_rgb_b_pad}} | {{baseFg_hsv_h_pad}} | {{baseFg_hsv_s_pad}} | {{baseFg_hsv_v_pad}} |
| baseFG | #{{baseFG_hex}} | {{baseFG_rgb_r_pad}} | {{baseFG_rgb_g_pad}} | {{baseFG_rgb_b_pad}} | {{baseFG_hsv_h_pad}} | {{baseFG_hsv_s_pad}} | {{baseFG_hsv_v_pad}} |
| baseB1 | #{{baseB1_hex}} | {{baseB1_rgb_r_pad}} | {{baseB1_rgb_g_pad}} | {{baseB1_rgb_b_pad}} | {{baseB1_hsv_h_pad}} | {{baseB1_hsv_s_pad}} | {{baseB1_hsv_v_pad}} |
| baseB2 | #{{baseB2_hex}} | {{baseB2_rgb_r_pad}} | {{baseB2_rgb_g_pad}} | {{baseB2_rgb_b_pad}} | {{baseB2_hsv_h_pad}} | {{baseB2_hsv_s_pad}} | {{baseB2_hsv_v_pad}} |
| baseB3 | #{{baseB3_hex}} | {{baseB3_rgb_r_pad}} | {{baseB3_rgb_g_pad}} | {{baseB3_rgb_b_pad}} | {{baseB3_hsv_h_pad}} | {{baseB3_hsv_s_pad}} | {{baseB3_hsv_v_pad}} |
| baseB4 | #{{baseB4_hex}} | {{baseB4_rgb_r_pad}} | {{baseB4_rgb_g_pad}} | {{baseB4_rgb_b_pad}} | {{baseB4_hsv_h_pad}} | {{baseB4_hsv_s_pad}} | {{baseB4_hsv_v_pad}} |
| baseB5 | #{{baseB5_hex}} | {{baseB5_rgb_r_pad}} | {{baseB5_rgb_g_pad}} | {{baseB5_rgb_b_pad}} | {{baseB5_hsv_h_pad}} | {{baseB5_hsv_s_pad}} | {{baseB5_hsv_v_pad}} |
| baseF1 | #{{baseF1_hex}} | {{baseF1_rgb_r_pad}} | {{baseF1_rgb_g_pad}} | {{baseF1_rgb_b_pad}} | {{baseF1_hsv_h_pad}} | {{baseF1_hsv_s_pad}} | {{baseF1_hsv_v_pad}} |
| baseF2 | #{{baseF2_hex}} | {{baseF2_rgb_r_pad}} | {{baseF2_rgb_g_pad}} | {{baseF2_rgb_b_pad}} | {{baseF2_hsv_h_pad}} | {{baseF2_hsv_s_pad}} | {{baseF2_hsv_v_pad}} |
| baseF3 | #{{baseF3_hex}} | {{baseF3_rgb_r_pad}} | {{baseF3_rgb_g_pad}} | {{baseF3_rgb_b_pad}} | {{baseF3_hsv_h_pad}} | {{baseF3_hsv_s_pad}} | {{baseF3_hsv_v_pad}} |
| baseF4 | #{{baseF4_hex}} | {{baseF4_rgb_r_pad}} | {{baseF4_rgb_g_pad}} | {{baseF4_rgb_b_pad}} | {{baseF4_hsv_h_pad}} | {{baseF4_hsv_s_pad}} | {{baseF4_hsv_v_pad}} |
| baseF5 | #{{baseF5_hex}} | {{baseF5_rgb_r_pad}} | {{baseF5_rgb_g_pad}} | {{baseF5_rgb_b_pad}} | {{baseF5_hsv_h_pad}} | {{baseF5_hsv_s_pad}} | {{baseF5_hsv_v_pad}} |
| baseF6 | #{{baseF6_hex}} | {{baseF6_rgb_r_pad}} | {{baseF6_rgb_g_pad}} | {{baseF6_rgb_b_pad}} | {{baseF6_hsv_h_pad}} | {{baseF6_hsv_s_pad}} | {{baseF6_hsv_v_pad}} |
| baseF7 | #{{baseF7_hex}} | {{baseF7_rgb_r_pad}} | {{baseF7_rgb_g_pad}} | {{baseF7_rgb_b_pad}} | {{baseF7_hsv_h_pad}} | {{baseF7_hsv_s_pad}} | {{baseF7_hsv_v_pad}} |

